.entry {
    padding: 15px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
    /* box-shadow: 2px 2px 4px #a0a0a0; */
}

.entry:last-child {
    margin-bottom: 0;
}

.entry:hover {
    background-color: #d0d0d0;
}